In [2]:
import pandas as pd
import numpy as np

In [3]:
nums = pd.Series(range(500))
nums

0        0
1        1
2        2
3        3
4        4
      ...
495    495
496    496
497    497
498    498
499    499
Length: 500, dtype: int64

In [4]:
nums.head(10)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [5]:
nums.tail(10)

490    490
491    491
492    492
493    493
494    494
495    495
496    496
497    497
498    498
499    499
dtype: int64

In [6]:
nums = pd.Series([1,2,np.nan,4,5])
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [8]:
hello = pd.Series(list('hello'))
hello

0    h
1    e
2    l
3    l
4    o
dtype: object

In [10]:
#h e l o 고유값만 세어줌
hello.nunique()

4

In [11]:
nums.count()

4

In [12]:
len(nums)

5

In [13]:
nums.sum()

12.0

In [14]:
#기본적으로 skipna = True 당연히 nan값 포함하면 nan이 되니까
nums.sum(skipna=False)

nan

In [15]:
nums.mean()

3.0

In [16]:
nums.median()

3.0

In [17]:
nums.std()

1.8257418583505538

In [18]:
nums.max()

5.0

In [19]:
nums.min()

1.0

In [20]:
somechar = pd.Series(list('AaBbCc'))
somechar

0    A
1    a
2    B
3    b
4    C
5    c
dtype: object

In [21]:
#유니코드 숫자의 값으로 바꾸고 최대값 구해줌
somechar.max()

'c'

In [22]:
somechar.min()

'A'

In [23]:
nums.describe()

count    4.000000
mean     3.000000
std      1.825742
min      1.000000
25%      1.750000
50%      3.000000
75%      4.250000
max      5.000000
dtype: float64

In [24]:
hello.describe()

count     5
unique    4
top       l
freq      2
dtype: object

In [36]:
superheros = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]
strength_levels = (100, 120, 90, 95, 110, 120)
heros = pd.Series(strength_levels,superheros)
heros

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [37]:
heros.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [38]:
heros.nunique()

5

In [39]:
heros.mean()

105.83333333333333

In [40]:
heros.median()

105.0

In [41]:
heros.max()
heros.min()

120

In [42]:
heros.min()

90

In [44]:
dict(heros)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

In [73]:
#squeeze = True (series형태로 가져옴)
pokemons = pd.read_csv("datas/pokemon.csv", index_col="Pokemon").squeeze()
pokemons

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [74]:
pokemons.head()

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

In [91]:
pokemons.describe()

count        809
unique       159
top       Normal
freq          65
Name: Type, dtype: object

In [94]:
#알파벳 순서로 정렬
pokemons.sort_values(ascending=False)#ascending으로 내림차순정렬

Pokemon
Empoleon      Water / Steel
Corsola        Water / Rock
Relicanth      Water / Rock
Carracosta     Water / Rock
Tirtouga       Water / Rock
                  ...
Kricketune              Bug
Cascoon                 Bug
Scatterbug              Bug
Kricketot               Bug
Grubbin                 Bug
Name: Type, Length: 809, dtype: object

In [96]:
google = pd.read_csv("datas/google_stocks.csv",
                     parse_dates=['Date'], #Date 타입으로 저장, parse_dates 인수에 파싱할 column명을 리스트 형태로 전달
                     index_col="Date").squeeze()
google.head()

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [99]:
war = pd.read_csv("datas/revolutionary_war.csv",
                  parse_dates = ["Start Date"],
                  index_col="Start Date",
                  usecols=["Start Date", "State"]).squeeze()
war.head()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
Name: State, dtype: object

In [118]:
war.isnull().sum()

70

In [117]:
war.count()

162

In [104]:
war.nunique()

17

In [121]:
# na_position ==> NaN값을 마지막으로 오게 정렬
war.sort_values(na_position = 'last')

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [122]:
war.dropna()

Start Date
1774-09-01     Massachusetts
1774-12-14     New Hampshire
1775-04-19     Massachusetts
1775-04-19     Massachusetts
1775-04-20          Virginia
                   ...
1782-08-15          Virginia
1782-08-19          Virginia
1782-08-26    South Carolina
1782-09-11          Virginia
1783-01-22          Virginia
Name: State, Length: 162, dtype: object

In [123]:
#index 정렬
pokemons.sort_index(ascending=True)

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [125]:
#nat값 먼저오게
war.sort_index(na_position='first')

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

In [181]:
#nat 값 제외하는 2가지 방법
war.loc[war.index.dropna()] # 인덱스의 중복을 포함해서 나옴 ==> 인덱스의 중복이 없어야 한다.

DatetimeIndex(['1774-09-01', '1774-12-14', '1775-04-19', '1775-04-19',
               '1775-04-20', '1775-05-10', '1775-05-27', '1775-06-11',
               '1775-06-17', '1775-08-08',
               ...
               '1782-08-08', '1782-08-15', '1782-08-19', '1782-08-26',
               '1782-08-25', '1782-09-11', '1782-09-13', '1782-10-18',
               '1782-12-06', '1783-01-22'],
              dtype='datetime64[ns]', name='Start Date', length=228, freq=None)

In [127]:
war.loc[war.index.notnull()]

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 228, dtype: object

In [150]:
google.sort_values().head(10)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
2004-08-30    50.81
2004-09-08    50.96
2004-09-09    50.96
2004-08-31    50.99
2004-08-24    52.24
Name: Close, dtype: float64

In [140]:
google.sort_values(ascending=False)[:10]

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
2018-07-25    1263.70
2019-04-25    1263.45
2019-10-24    1260.99
2019-10-23    1259.13
2019-04-24    1256.00
Name: Close, dtype: float64

In [182]:
google.nlargest(10)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
2018-07-25    1263.70
2019-04-25    1263.45
2019-10-24    1260.99
2019-10-23    1259.13
2019-04-24    1256.00
Name: Close, dtype: float64

In [183]:
google.nsmallest(10)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
2004-08-30    50.81
2004-09-08    50.96
2004-09-09    50.96
2004-08-31    50.99
2004-08-24    52.24
Name: Close, dtype: float64

In [185]:
pokemons.value_counts()

Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fire / Psychic         1
Normal / Ground        1
Psychic / Fighting     1
Dark / Ghost           1
Fire / Ghost           1
Name: Type, Length: 159, dtype: int64

In [189]:
google.describe()

count    3824.000000
mean      479.945860
std       328.528592
min        49.820000
25%       235.860000
50%       314.680000
75%       708.205000
max      1287.580000
Name: Close, dtype: float64

In [215]:
#구간 설정하여 구간별로 count
bins= np.linspace(0,1400,8)
google.value_counts(bins=bins)

(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [193]:
bins= np.linspace(0,1400,8)
google.value_counts(bins=bins).sort_index()

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [197]:
bins= [0,200,400,600,800,1000,1200,1400]
google.value_counts(bins=bins).sort_index()

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [198]:
google.value_counts(bins=8, sort= False)

(48.581, 204.54]       651
(204.54, 359.26]      1435
(359.26, 513.98]       263
(513.98, 668.7]        466
(668.7, 823.42]        334
(823.42, 978.14]       161
(978.14, 1132.86]      283
(1132.86, 1287.58]     231
Name: Close, dtype: int64

In [204]:
df_csv = pd.DataFrame(data = [[1,2,'누락'],[1.11,'',3.33],['one','two','three']],
                  columns = ['c1','c2','c3'])
df_csv

     c1   c2     c3
0     1    2     누락
1  1.11        3.33
2   one  two  three

In [206]:
#경로에 csv파일로 저장
df_csv.to_csv('datas/sample1.csv',index=False)

In [213]:
#현재 경로
%pwd

'C:\\python\\datas'

In [212]:
#경로 수정
%cd C:\\python\\datas

C:\python\datas

In [214]:
df_read = pd.read_csv('sample1.csv')
df_read

     c1   c2     c3
0     1    2     누락
1  1.11  NaN   3.33
2   one  two  three

In [216]:
df_csv.to_csv('sample2.csv', index=False,header=False)

In [217]:
pd.read_csv('sample2.csv',names=['c1','c2','c3'])

     c1   c2     c3
0     1    2     누락
1  1.11  NaN   3.33
2   one  two  three

In [218]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

In [226]:
a = pd.read_csv('sample3.txt',sep='\s+')#\s ==> 하나이상의 공백(정규식이용)
a

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [227]:
pd.read_table('sample3.txt',sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [229]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample4.txt

In [235]:
pd.read_csv('sample4.txt',sep='\s+',skiprows=[0,1])

  c1,    c2,     c3
0  1,  1.11,    one
1  2,  2.22,    two
2  3,  3.33,  three

In [236]:
# na_values ==>누락을 NaN값으로
df_na_val = pd.read_csv('sample1.csv',na_values=['누락'])
df_na_val

     c1   c2     c3
0     1    2    NaN
1  1.11  NaN   3.33
2   one  two  three

In [237]:
df_na_val.to_csv('sample5.txt',sep='|')

In [239]:
#na_rep ==> NaN값을 '누락'으로
df_na_val.to_csv('sample6.txt',na_rep='누락')

In [243]:
titanic = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [244]:
titanic.describe()

         survived         age  n_siblings_spouses       parch        fare
count  627.000000  627.000000          627.000000  627.000000  627.000000
mean     0.387560   29.631308            0.545455    0.379585   34.385399
std      0.487582   12.511818            1.151090    0.792999   54.597730
min      0.000000    0.750000            0.000000    0.000000    0.000000
25%      0.000000   23.000000            0.000000    0.000000    7.895800
50%      0.000000   28.000000            0.000000    0.000000   15.045800
75%      1.000000   35.000000            1.000000    0.000000   31.387500
max      1.000000   80.000000            8.000000    5.000000  512.329200

In [ ]:
params={'serviceKey': '0ef7383c-1cbd-40bb-a955-eab4aaea49d9'}

In [281]:
import requests
import json

response = requests.get('http://api.kcisa.kr/API_CNV_049/request',
                       params={'serviceKey': '0ef7383c-1cbd-40bb-a955-eab4aaea49d9'})
print(response.status_code)

200

In [253]:
response.links

{}

In [260]:
print(f"인코딩: {response.encoding}")
print(f"콘텐츠 타입: {response.headers['Content-Type']}")
print(f"서버: {response.headers['server']}")

인코딩: utf-8
콘텐츠 타입: form; charset=utf-8
서버: nginx

In [299]:
import xmltodict
data = xmltodict.parse(response.text)
data

{'response': {'header': {'resultCode': '0000', 'resultMsg': 'OK'},
  'body': {'items': {'item': [{'title': '湖南의 傳統繪畵',
      'alternativeTitle': None,
      'description': '&lt;p&gt;.&lt;/p&gt;',
      'subDescription': None,
      'subjectKeyword': None,
      'viewCount': '84',
      'url': None,
      'localId': '1',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '219',
      'charge': None,
      'period': None},
     {'title': "'푸른 남해, 안도패총 6000년'발굴 속보전",
      'alternativeTitle': None,
      'description': '발굴 속보전을 열며 / 3 \n\n편안한 섬, 안도(安島) / 4~5 \n\n안도패총이 세상에 알려지기까지 / 6 \n\n&quot;안도패총&quot;이 세상에 드러나다. / 6~7 \n\n고기잡이 도구 / 8~9 \n\n기술과 생활 도구 / 10~11 \n\n아름다움, 상징, 신앙, 그리고... / 11~12 \n\n먼거리 교류 / 12~13',
      'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
      'subjectKeyword': None,
      'viewCount': '60',
      'url': None,
      'localId': '10',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '13',
      'charge': None,
      'period': None},
     {'title': '하서 김인후와 필암서원',
      'alternativeTitle': None,
      'description': '&lt;p&gt;특별전을 열며 / 6 제1부 하서 김인후의 가계와 출사 / 8 제2부 인종과의 만남 / 8 제3부 조선의 성리학과 하서 / 38 제4부 선비정신과 시세계 / 78 제5부 하서와 필암서원 / 102 제6부 하서의 문묘배향 / 164 하서와 호남유학 / 190 특별논고 / 194 \u3000오종일 - 하서의 삶과 그 학문 \u3000윤희면 - 필암서원의 기능과 의의 하서 김인후 연보 / 222 참고문헌 / 230&lt;/p&gt;',
      'subDescription': '출판사:그라픽네트,가격:25000,구입처:학예연구실 문의',
      'subjectKeyword': None,
      'viewCount': '74',
      'url': None,
      'localId': '11',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '231',
      'charge': None,
      'period': None},
     {'title': '사경변상도의 세계, 부처 그리고 마음',
      'alternativeTitle': None,
      'description': '&lt;p&gt;특별전을 열며 / 1 사경寫經 / 3 사경변상도寫經變相圖 / 4 통일신라의 사경변상도統一新羅寫經變相圖 / 5 고려의 사경변상도高麗寫經變相圖 / 6~7 불법을 지키는 신장神將 / 8~9 구도의 여행을 떠난 선재동자善財童子 / 10~14 조선의 사경변상도朝鮮寫經變相圖 / 15~17 사경의 글씨寫經書體 / 18~20 사경의 흔적들 / 21~23&lt;/p&gt;',
      'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
      'subjectKeyword': None,
      'viewCount': '69',
      'url': None,
      'localId': '12',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '23',
      'charge': None,
      'period': None},
     {'title': '사호송수면의 회화세계',
      'alternativeTitle': None,
      'description': '&lt;p&gt;인사말 / 4 도판 / 4 사군자 / 7 화조&amp;middot;동물 / 59 꽃과 나비 / 77 산수 / 95 톡별 논고 사호沙湖 송수면宋修勉(1847~1916)의 생애와 회화(이선옥) / 129 도판 해설 / 150 도판 목록 / 186&lt;/p&gt;',
      'subDescription': '출판사:주)비따,구입처:학예연구실 문의',
      'subjectKeyword': None,
      'viewCount': '53',
      'url': None,
      'localId': '13',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '190',
      'charge': None,
      'period': None},
     {'title': '화순 대곡리유적 발국 속보전 다시 태어난 청동 국보',
      'alternativeTitle': None,
      'description': '&lt;p&gt;- 발굴 속보전을 열며 / 2 - 옛날 사람들은 자연을 숭배하였다 / 3 - 원시신앙 / 4 - 화순 대곡리유적의 실체를 밝히다 / 6 - 적석목관묘 / 8 - 화순 대곡리유적 출토요물 / 9 - 2008년 조사에서 새로 출토된 동검 / 12 - 통나무관 아래서 새로운 동검을 찾아내다 / 13 - 드디어 동검의 모습을 드러내다 / 14 - 대곡리에 묻힌 사람은 누구일까? / 15 - 대곡리 유물과 닮은 모습들 / 15 - 통나무관을 사용했다 / 16 - 통나무관 복원 / 16 - 통나무관은 무슨 나무일까? / 17 - 통나무관 수종 분석 / 17 - 제사장 / 18&lt;/p&gt;',
      'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
      'subjectKeyword': None,
      'viewCount': '64',
      'url': None,
      'localId': '14',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '19',
      'charge': None,
      'period': None},
     {'title': '사진으로 보는 중앙아시아 초원과 오아시스',
      'alternativeTitle': None,
      'description': '&lt;p&gt;- 특별전을 열며... / 2 - 사막과 오아시스 / 4 - 초원과 유목민의 삶 / 6 - 3부 바자르의 이모저모 / 8 - 생업 / 10 - 유적 / 12 - 유물&amp;middot;예술 / 16 - 인물 / 18&lt;/p&gt;',
      'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
      'subjectKeyword': None,
      'viewCount': '43',
      'url': None,
      'localId': '15',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '19',
      'charge': None,
      'period': None},
     {'title': '기록으로 본 조선시대 사회문화',
      'alternativeTitle': None,
      'description': '&lt;p&gt;● 발간사 ● 제1부 \u3000 충의와 절의의 선비 석탄石灘 이신의李愼儀 \u3000 \u3000 1. 석탄 이신의의 가계와 생애 / 10 \u3000 \u3000 2. 선무원종공신-의병과함께 나라를 지키다 / 18 \u3000 \u3000 3. 서원배향-충의와 절의를 본받다 / 30 \u3000 \u3000 4. 석탄금-인명은 유한하나 시간을 넘어 / 40 \u3000 \u3000 5. 사우가-네 벗을 노래하다 / 43 ● 제2부 \u3000 문서로 본 조선시대 사회문화 \u3000 \u3000 1. 호적제도 / 50 \u3000 \u3000 2. 양자제도 -양자를 들여 대를 잇다 / 58 \u3000 \u3000 3. 재산상속-남녀구분 없이 동등하게 / 60 \u3000 \u3000 4. 토지거래-노비가 땅을 사고 팔다 / 66 \u3000 \u3000 5. 무덤 송사-소문난 명당에 몰래 묻다 / 70 \u3000 \u3000 6. 효를 실천하고 우애를 쌓다 / 77 \u3000 \u3000 7. 과거제도 / 84 ● 부록 \u3000 \u3000 1. 호적 자료 / 88 \u3000 \u3000 2. 유애사 자료 / 116 \u3000 \u3000 3. 소송 자료 / 126 \u3000 \u3000 4. 기타 자료 / 144&lt;/p&gt;',
      'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
      'subjectKeyword': None,
      'viewCount': '59',
      'url': None,
      'localId': '16',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '151',
      'charge': None,
      'period': None},
     {'title': '남종화의 거장 소치 허련 200년',
      'alternativeTitle': None,
      'description': '&lt;p&gt;기획특별전을 개최하면서 / 2 가계家系와 생애生涯 / 6 학연學緣 초의선사와 추사 김정희 / 20 묵연？然 후원자와 친구 / 74 연운공양煙雲供養 예술세계 | 산수화&amp;middot;사군자&amp;middot;기타그림&amp;middot;글씨 / 148 인보印譜 / 356 논고論考 / 367 소치 허련의 생애와 회화세계 김성엽 | 문화재청, 한국회화사 소치 허련의 서예-형성과정과 특질을 중심으로 이동국 | 예솔의전당 서예박물관 학예사 湖南畵壇과 小癡 - 許鍊畵壇의 現左性 이원복 | 국립전주박물관 관장 소치 허련과 원대元代의 남종화 박해훈 | 국립광주박물관 학예연구사 연보 / 416 허련 관련 인물 약전 / 428&lt;/p&gt;',
      'subDescription': '출판사:비에이디자인,구입처:학예연구실 문의',
      'subjectKeyword': None,
      'viewCount': '121',
      'url': None,
      'localId': '17',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '433',
      'charge': None,
      'period': None},
     {'title': '광주 유구한 문화의 도시',
      'alternativeTitle': None,
      'description': '&lt;p&gt;Ⅰ 광주의 위치와 환경 / 11 \u3000 1. 광주의 위치 / 12 \u3000 2. 광주의 자연환경 / 15 Ⅱ 선사시대의 광주 / 14 \u3000 1. 구석기시대 / 27 \u3000 2. 신석기시대 / 29 \u3000 3. 청동기시대 / 32 \u3000 4. 초기철기시대 / 38 Ⅲ 고대의 광주 / 45 \u3000 1. 마한 / 46 \u3000 2. 삼국시대의 무진주 / 52 \u3000 3. 통일신라시대의 무주 / 66 \u3000 4. 후백제의 성립 / 69 Ⅳ 고려&amp;middot;조선시대의 광주 / 71 \u3000 1. 광주의 탄생과 발전 / 72 \u3000 2. 광주의 학문 / 81 \u3000 3. 의향 광주 / 118 Ⅴ 광주의 공예와 서화 / 141 \u3000 1. 광주의 공예 / 142 \u3000 2. 광주의 서화 / 154 Ⅵ 광주의 불교와 민속 / 177 \u3000 1. 광주의 불교 / 178 \u3000 2. 광주의 민속 / 229 부록 / 239&lt;/p&gt;',
      'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
      'subjectKeyword': None,
      'viewCount': '74',
      'url': None,
      'localId': '18',
      'createdDate': '2023-03-06 00:50:00',
      'imageObject': None,
      'sizing': '267',
      'charge': None,
      'period': None}]},
   'numOfRows': '10',
   'pageNo': '1',
   'totalCount': '99'}}}

In [313]:
data["response"]['body']['items']['item']

[{'title': '湖南의 傳統繪畵',
  'alternativeTitle': None,
  'description': '&lt;p&gt;.&lt;/p&gt;',
  'subDescription': None,
  'subjectKeyword': None,
  'viewCount': '84',
  'url': None,
  'localId': '1',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '219',
  'charge': None,
  'period': None},
 {'title': "'푸른 남해, 안도패총 6000년'발굴 속보전",
  'alternativeTitle': None,
  'description': '발굴 속보전을 열며 / 3 \n\n편안한 섬, 안도(安島) / 4~5 \n\n안도패총이 세상에 알려지기까지 / 6 \n\n&quot;안도패총&quot;이 세상에 드러나다. / 6~7 \n\n고기잡이 도구 / 8~9 \n\n기술과 생활 도구 / 10~11 \n\n아름다움, 상징, 신앙, 그리고... / 11~12 \n\n먼거리 교류 / 12~13',
  'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
  'subjectKeyword': None,
  'viewCount': '60',
  'url': None,
  'localId': '10',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '13',
  'charge': None,
  'period': None},
 {'title': '하서 김인후와 필암서원',
  'alternativeTitle': None,
  'description': '&lt;p&gt;특별전을 열며 / 6 제1부 하서 김인후의 가계와 출사 / 8 제2부 인종과의 만남 / 8 제3부 조선의 성리학과 하서 / 38 제4부 선비정신과 시세계 / 78 제5부 하서와 필암서원 / 102 제6부 하서의 문묘배향 / 164 하서와 호남유학 / 190 특별논고 / 194 \u3000오종일 - 하서의 삶과 그 학문 \u3000윤희면 - 필암서원의 기능과 의의 하서 김인후 연보 / 222 참고문헌 / 230&lt;/p&gt;',
  'subDescription': '출판사:그라픽네트,가격:25000,구입처:학예연구실 문의',
  'subjectKeyword': None,
  'viewCount': '74',
  'url': None,
  'localId': '11',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '231',
  'charge': None,
  'period': None},
 {'title': '사경변상도의 세계, 부처 그리고 마음',
  'alternativeTitle': None,
  'description': '&lt;p&gt;특별전을 열며 / 1 사경寫經 / 3 사경변상도寫經變相圖 / 4 통일신라의 사경변상도統一新羅寫經變相圖 / 5 고려의 사경변상도高麗寫經變相圖 / 6~7 불법을 지키는 신장神將 / 8~9 구도의 여행을 떠난 선재동자善財童子 / 10~14 조선의 사경변상도朝鮮寫經變相圖 / 15~17 사경의 글씨寫經書體 / 18~20 사경의 흔적들 / 21~23&lt;/p&gt;',
  'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
  'subjectKeyword': None,
  'viewCount': '69',
  'url': None,
  'localId': '12',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '23',
  'charge': None,
  'period': None},
 {'title': '사호송수면의 회화세계',
  'alternativeTitle': None,
  'description': '&lt;p&gt;인사말 / 4 도판 / 4 사군자 / 7 화조&amp;middot;동물 / 59 꽃과 나비 / 77 산수 / 95 톡별 논고 사호沙湖 송수면宋修勉(1847~1916)의 생애와 회화(이선옥) / 129 도판 해설 / 150 도판 목록 / 186&lt;/p&gt;',
  'subDescription': '출판사:주)비따,구입처:학예연구실 문의',
  'subjectKeyword': None,
  'viewCount': '53',
  'url': None,
  'localId': '13',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '190',
  'charge': None,
  'period': None},
 {'title': '화순 대곡리유적 발국 속보전 다시 태어난 청동 국보',
  'alternativeTitle': None,
  'description': '&lt;p&gt;- 발굴 속보전을 열며 / 2 - 옛날 사람들은 자연을 숭배하였다 / 3 - 원시신앙 / 4 - 화순 대곡리유적의 실체를 밝히다 / 6 - 적석목관묘 / 8 - 화순 대곡리유적 출토요물 / 9 - 2008년 조사에서 새로 출토된 동검 / 12 - 통나무관 아래서 새로운 동검을 찾아내다 / 13 - 드디어 동검의 모습을 드러내다 / 14 - 대곡리에 묻힌 사람은 누구일까? / 15 - 대곡리 유물과 닮은 모습들 / 15 - 통나무관을 사용했다 / 16 - 통나무관 복원 / 16 - 통나무관은 무슨 나무일까? / 17 - 통나무관 수종 분석 / 17 - 제사장 / 18&lt;/p&gt;',
  'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
  'subjectKeyword': None,
  'viewCount': '64',
  'url': None,
  'localId': '14',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '19',
  'charge': None,
  'period': None},
 {'title': '사진으로 보는 중앙아시아 초원과 오아시스',
  'alternativeTitle': None,
  'description': '&lt;p&gt;- 특별전을 열며... / 2 - 사막과 오아시스 / 4 - 초원과 유목민의 삶 / 6 - 3부 바자르의 이모저모 / 8 - 생업 / 10 - 유적 / 12 - 유물&amp;middot;예술 / 16 - 인물 / 18&lt;/p&gt;',
  'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
  'subjectKeyword': None,
  'viewCount': '43',
  'url': None,
  'localId': '15',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '19',
  'charge': None,
  'period': None},
 {'title': '기록으로 본 조선시대 사회문화',
  'alternativeTitle': None,
  'description': '&lt;p&gt;● 발간사 ● 제1부 \u3000 충의와 절의의 선비 석탄石灘 이신의李愼儀 \u3000 \u3000 1. 석탄 이신의의 가계와 생애 / 10 \u3000 \u3000 2. 선무원종공신-의병과함께 나라를 지키다 / 18 \u3000 \u3000 3. 서원배향-충의와 절의를 본받다 / 30 \u3000 \u3000 4. 석탄금-인명은 유한하나 시간을 넘어 / 40 \u3000 \u3000 5. 사우가-네 벗을 노래하다 / 43 ● 제2부 \u3000 문서로 본 조선시대 사회문화 \u3000 \u3000 1. 호적제도 / 50 \u3000 \u3000 2. 양자제도 -양자를 들여 대를 잇다 / 58 \u3000 \u3000 3. 재산상속-남녀구분 없이 동등하게 / 60 \u3000 \u3000 4. 토지거래-노비가 땅을 사고 팔다 / 66 \u3000 \u3000 5. 무덤 송사-소문난 명당에 몰래 묻다 / 70 \u3000 \u3000 6. 효를 실천하고 우애를 쌓다 / 77 \u3000 \u3000 7. 과거제도 / 84 ● 부록 \u3000 \u3000 1. 호적 자료 / 88 \u3000 \u3000 2. 유애사 자료 / 116 \u3000 \u3000 3. 소송 자료 / 126 \u3000 \u3000 4. 기타 자료 / 144&lt;/p&gt;',
  'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
  'subjectKeyword': None,
  'viewCount': '59',
  'url': None,
  'localId': '16',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '151',
  'charge': None,
  'period': None},
 {'title': '남종화의 거장 소치 허련 200년',
  'alternativeTitle': None,
  'description': '&lt;p&gt;기획특별전을 개최하면서 / 2 가계家系와 생애生涯 / 6 학연學緣 초의선사와 추사 김정희 / 20 묵연？然 후원자와 친구 / 74 연운공양煙雲供養 예술세계 | 산수화&amp;middot;사군자&amp;middot;기타그림&amp;middot;글씨 / 148 인보印譜 / 356 논고論考 / 367 소치 허련의 생애와 회화세계 김성엽 | 문화재청, 한국회화사 소치 허련의 서예-형성과정과 특질을 중심으로 이동국 | 예솔의전당 서예박물관 학예사 湖南畵壇과 小癡 - 許鍊畵壇의 現左性 이원복 | 국립전주박물관 관장 소치 허련과 원대元代의 남종화 박해훈 | 국립광주박물관 학예연구사 연보 / 416 허련 관련 인물 약전 / 428&lt;/p&gt;',
  'subDescription': '출판사:비에이디자인,구입처:학예연구실 문의',
  'subjectKeyword': None,
  'viewCount': '121',
  'url': None,
  'localId': '17',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '433',
  'charge': None,
  'period': None},
 {'title': '광주 유구한 문화의 도시',
  'alternativeTitle': None,
  'description': '&lt;p&gt;Ⅰ 광주의 위치와 환경 / 11 \u3000 1. 광주의 위치 / 12 \u3000 2. 광주의 자연환경 / 15 Ⅱ 선사시대의 광주 / 14 \u3000 1. 구석기시대 / 27 \u3000 2. 신석기시대 / 29 \u3000 3. 청동기시대 / 32 \u3000 4. 초기철기시대 / 38 Ⅲ 고대의 광주 / 45 \u3000 1. 마한 / 46 \u3000 2. 삼국시대의 무진주 / 52 \u3000 3. 통일신라시대의 무주 / 66 \u3000 4. 후백제의 성립 / 69 Ⅳ 고려&amp;middot;조선시대의 광주 / 71 \u3000 1. 광주의 탄생과 발전 / 72 \u3000 2. 광주의 학문 / 81 \u3000 3. 의향 광주 / 118 Ⅴ 광주의 공예와 서화 / 141 \u3000 1. 광주의 공예 / 142 \u3000 2. 광주의 서화 / 154 Ⅵ 광주의 불교와 민속 / 177 \u3000 1. 광주의 불교 / 178 \u3000 2. 광주의 민속 / 229 부록 / 239&lt;/p&gt;',
  'subDescription': '출판사:도서출판 라인,구입처:학예연구실 문의',
  'subjectKeyword': None,
  'viewCount': '74',
  'url': None,
  'localId': '18',
  'createdDate': '2023-03-06 00:50:00',
  'imageObject': None,
  'sizing': '267',
  'charge': None,
  'period': None}]

In [314]:
df = pd.DataFrame(data["response"]['body']['items']['item'])
df

,title,alternativeTitle,description,subDescription,subjectKeyword,viewCount,url,localId,createdDate,imageObject,sizing,charge,period
0,湖南의 傳統繪畵,None,&lt;p&gt;.&lt;/p&gt;,None,None,84,None,1,2023-03-06 00:50:00,None,219,None,None
1,"'푸른 남해, 안도패총 6000년'발굴 속보전",None,"발굴 속보전을 열며 / 3 \n\n편안한 섬, 안도(安島) / 4~5 \n\n안도패...","출판사:도서출판 라인,구입처:학예연구실 문의",None,60,None,10,2023-03-06 00:50:00,None,13,None,None
2,하서 김인후와 필암서원,None,&lt;p&gt;특별전을 열며 / 6 제1부 하서 김인후의 가계와 출사 / 8 제2...,"출판사:그라픽네트,가격:25000,구입처:학예연구실 문의",None,74,None,11,2023-03-06 00:50:00,None,231,None,None
3,"사경변상도의 세계, 부처 그리고 마음",None,&lt;p&gt;특별전을 열며 / 1 사경寫經 / 3 사경변상도寫經變相圖 / 4 통...,"출판사:도서출판 라인,구입처:학예연구실 문의",None,69,None,12,2023-03-06 00:50:00,None,23,None,None
4,사호송수면의 회화세계,None,&lt;p&gt;인사말 / 4 도판 / 4 사군자 / 7 화조&amp;middot;...,"출판사:주)비따,구입처:학예연구실 문의",None,53,None,13,2023-03-06 00:50:00,None,190,None,None
5,화순 대곡리유적 발국 속보전 다시 태어난 청동 국보,None,&lt;p&gt;- 발굴 속보전을 열며 / 2 - 옛날 사람들은 자연을 숭배하였다 ...,"출판사:도서출판 라인,구입처:학예연구실 문의",None,64,None,14,2023-03-06 00:50:00,None,19,None,None
6,사진으로 보는 중앙아시아 초원과 오아시스,None,&lt;p&gt;- 특별전을 열며... / 2 - 사막과 오아시스 / 4 - 초원과...,"출판사:도서출판 라인,구입처:학예연구실 문의",None,43,None,15,2023-03-06 00:50:00,None,19,None,None
7,기록으로 본 조선시대 사회문화,None,&lt;p&gt;● 발간사 ● 제1부 충의와 절의의 선비 석탄石灘 이신의李愼儀 ...,"출판사:도서출판 라인,구입처:학예연구실 문의",None,59,None,16,2023-03-06 00:50:00,None,151,None,None
8,남종화의 거장 소치 허련 200년,None,&lt;p&gt;기획특별전을 개최하면서 / 2 가계家系와 생애生涯 / 6 학연學緣 ...,"출판사:비에이디자인,구입처:학예연구실 문의",None,121,None,17,2023-03-06 00:50:00,None,433,None,None
9,광주 유구한 문화의 도시,None,&lt;p&gt;Ⅰ 광주의 위치와 환경 / 11 1. 광주의 위치 / 12 ...,"출판사:도서출판 라인,구입처:학예연구실 문의",None,74,None,18,2023-03-06 00:50:00,None,267,None,None

In [ ]:
api.kcisa.kr/API_CNV_045/request

In [316]:
import requests
import json

response = requests.get('http://api.kcisa.kr/API_CNV_045/request',
                       params={'serviceKey': '971211c6-7c5b-4bca-a39c-8b1d9e89d318'})
print(response.status_code)

200

In [317]:
print(f"인코딩: {response.encoding}")
print(f"콘텐츠 타입: {response.headers['Content-Type']}")
print(f"서버: {response.headers['server']}")

인코딩: utf-8
콘텐츠 타입: form; charset=utf-8
서버: nginx

In [318]:
import xmltodict
data = xmltodict.parse(response.text)
data

{'response': {'header': {'resultCode': '0000', 'resultMsg': 'OK'},
  'body': {'items': {'item': [{'ESNTL_ID': 'KCUBSPO20N000000001',
      'FCLTY_NM': '123기획',
      'LCLAS_NM': '서점',
      'MLSFC_NM': '중고서점',
      'ZIP_NO': '14289',
      'FCLTY_ROAD_NM_ADDR': '경기도 광명시 광오로24번길 6 (광명동, 금반석시티빌11차)',
      'FCLTY_LA': '37.47609',
      'FCLTY_LO': '126.8499984',
      'WORKDAY_OPN_BSNS_TIME': None,
      'WORKDAY_CLOS_TIME': None,
      'SAT_OPN_BSNS_TIME': None,
      'SAT_CLOS_TIME': None,
      'SUN_OPN_BSNS_TIME': None,
      'SUN_CLOS_TIME': None,
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': None,
      'TEL_NO': '010-5258-9610',
      'OPTN_DC': '중고서점',
      'ADIT_DC': '헌책방 : 중고서점, 리뷰여부 : 있음'},
     {'ESNTL_ID': 'KCUBSPO20N000000002',
      'FCLTY_NM': '123기획',
      'LCLAS_NM': '서점',
      'MLSFC_NM': None,
      'ZIP_NO': '5502',
      'FCLTY_ROAD_NM_ADDR': '서울특별시 송파구 올림픽로 135 (잠실동, 리센츠)',
      'FCLTY_LA': '37.515474',
      'FCLTY_LO': '127.0854698',
      'WORKDAY_OPN_BSNS_TIME': None,
      'WORKDAY_CLOS_TIME': None,
      'SAT_OPN_BSNS_TIME': None,
      'SAT_CLOS_TIME': None,
      'SUN_OPN_BSNS_TIME': None,
      'SUN_CLOS_TIME': None,
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': None,
      'TEL_NO': '02-856-5376',
      'OPTN_DC': None,
      'ADIT_DC': '리뷰여부 : 있음'},
     {'ESNTL_ID': 'KCUBSPO20N000000003',
      'FCLTY_NM': '3355서점',
      'LCLAS_NM': '서점',
      'MLSFC_NM': None,
      'ZIP_NO': '4563',
      'FCLTY_ROAD_NM_ADDR': '서울특별시 중구 장충단로13길 20 (을지로6가)',
      'FCLTY_LA': '37.5687359',
      'FCLTY_LO': '127.0076671',
      'WORKDAY_OPN_BSNS_TIME': '0.4375',
      'WORKDAY_CLOS_TIME': '0.791666666666667',
      'SAT_OPN_BSNS_TIME': '0.4375',
      'SAT_CLOS_TIME': '0.791666666666667',
      'SUN_OPN_BSNS_TIME': '0.4375',
      'SUN_CLOS_TIME': '0.791666666666667',
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': None,
      'TEL_NO': '02-2271-0300',
      'OPTN_DC': None,
      'ADIT_DC': '리뷰여부 : 있음'},
     {'ESNTL_ID': 'KCUBSPO20N000000004',
      'FCLTY_NM': 'Bllessu Books',
      'LCLAS_NM': '서점',
      'MLSFC_NM': '중고서점',
      'ZIP_NO': '3766',
      'FCLTY_ROAD_NM_ADDR': '서울특별시 서대문구 이화여대5길 26 1층',
      'FCLTY_LA': '37.5584044',
      'FCLTY_LO': '126.9442671',
      'WORKDAY_OPN_BSNS_TIME': '0.479166666666667',
      'WORKDAY_CLOS_TIME': '0.875',
      'SAT_OPN_BSNS_TIME': None,
      'SAT_CLOS_TIME': None,
      'SUN_OPN_BSNS_TIME': None,
      'SUN_CLOS_TIME': None,
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': '주말,공휴일휴무',
      'TEL_NO': '010-2258-8541',
      'OPTN_DC': '중고서점',
      'ADIT_DC': '헌책방 : 중고서점, 리뷰여부 : 있음'},
     {'ESNTL_ID': 'KCUBSPO20N000000005',
      'FCLTY_NM': 'Gk서적',
      'LCLAS_NM': '서점',
      'MLSFC_NM': None,
      'ZIP_NO': '7988',
      'FCLTY_ROAD_NM_ADDR': '서울특별시 양천구 목동동로 339 (목동, 목동트윈빌)',
      'FCLTY_LA': '37.5443479',
      'FCLTY_LO': '126.8654939',
      'WORKDAY_OPN_BSNS_TIME': None,
      'WORKDAY_CLOS_TIME': None,
      'SAT_OPN_BSNS_TIME': None,
      'SAT_CLOS_TIME': None,
      'SUN_OPN_BSNS_TIME': None,
      'SUN_CLOS_TIME': None,
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': None,
      'TEL_NO': '02-2645-8277',
      'OPTN_DC': None,
      'ADIT_DC': '리뷰여부 : 있음'},
     {'ESNTL_ID': 'KCUBSPO20N000000006',
      'FCLTY_NM': 'ok헌옷',
      'LCLAS_NM': '서점',
      'MLSFC_NM': '중고물품점',
      'ZIP_NO': '3307',
      'FCLTY_ROAD_NM_ADDR': '서울특별시 은평구 북한산로 281 (진관동)',
      'FCLTY_LA': '37.6568192',
      'FCLTY_LO': '126.9414634',
      'WORKDAY_OPN_BSNS_TIME': '0.375',
      'WORKDAY_CLOS_TIME': '0.291666666666667',
      'SAT_OPN_BSNS_TIME': '0.375',
      'SAT_CLOS_TIME': '0.291666666666667',
      'SUN_OPN_BSNS_TIME': '0.375',
      'SUN_CLOS_TIME': '0.291666666666667',
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': None,
      'TEL_NO': '010-9232-7589',
      'OPTN_DC': '중고물품점',
      'ADIT_DC': '헌책방 : 중고서점,'},
     {'ESNTL_ID': 'KCUBSPO20N000000007',
      'FCLTY_NM': 'YES24 중고서점 강남점',
      'LCLAS_NM': '서점',
      'MLSFC_NM': '중고서점',
      'ZIP_NO': '6129',
      'FCLTY_ROAD_NM_ADDR': '서울특별시 강남구 강남대로 422 씨티빌딩 지하1층',
      'FCLTY_LA': '37.5003931',
      'FCLTY_LO': '127.0269841',
      'WORKDAY_OPN_BSNS_TIME': '0.416666666666667',
      'WORKDAY_CLOS_TIME': '0.916666666666667',
      'SAT_OPN_BSNS_TIME': '0.416666666666667',
      'SAT_CLOS_TIME': '0.916666666666667',
      'SUN_OPN_BSNS_TIME': '0.416666666666667',
      'SUN_CLOS_TIME': '0.916666666666667',
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': '명절당일휴무',
      'TEL_NO': '1566-4295',
      'OPTN_DC': '중고서점',
      'ADIT_DC': '헌책방 : 중고서점, 리뷰여부 : 있음'},
     {'ESNTL_ID': 'KCUBSPO20N000000008',
      'FCLTY_NM': 'YES24 중고서점 강서NC점',
      'LCLAS_NM': '서점',
      'MLSFC_NM': '중고서점',
      'ZIP_NO': '7584',
      'FCLTY_ROAD_NM_ADDR': '서울특별시 강서구 강서로56길 17 NC백화점 강서점 8,9층',
      'FCLTY_LA': '37.5599334',
      'FCLTY_LO': '126.8404989',
      'WORKDAY_OPN_BSNS_TIME': '0.4375',
      'WORKDAY_CLOS_TIME': '0.875',
      'SAT_OPN_BSNS_TIME': '0.4375',
      'SAT_CLOS_TIME': '0.916666666666667',
      'SUN_OPN_BSNS_TIME': '0.4375',
      'SUN_CLOS_TIME': '0.916666666666667',
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': None,
      'TEL_NO': '1566-4295',
      'OPTN_DC': '중고서점',
      'ADIT_DC': '주차 : 가능, 화장실 남녀구분 : 구분, 헌책방 : 중고서점, 리뷰여부 : 있음'},
     {'ESNTL_ID': 'KCUBSPO20N000000009',
      'FCLTY_NM': 'YES24 중고서점 목동점',
      'LCLAS_NM': '서점',
      'MLSFC_NM': '중고서점',
      'ZIP_NO': '8000',
      'FCLTY_ROAD_NM_ADDR': '서울특별시 양천구 오목로 325 지하1층',
      'FCLTY_LA': '37.5251077',
      'FCLTY_LO': '126.8736273',
      'WORKDAY_OPN_BSNS_TIME': '0.395833333333333',
      'WORKDAY_CLOS_TIME': '0.916666666666667',
      'SAT_OPN_BSNS_TIME': '0.395833333333333',
      'SAT_CLOS_TIME': '0.916666666666667',
      'SUN_OPN_BSNS_TIME': '0.395833333333333',
      'SUN_CLOS_TIME': '0.916666666666667',
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': '명절당일휴무',
      'TEL_NO': '1566-4295',
      'OPTN_DC': '중고서점',
      'ADIT_DC': '주차 : 가능, 화장실 남녀구분 : 구분, 헌책방 : 중고서점, 리뷰여부 : 있음'},
     {'ESNTL_ID': 'KCUBSPO20N000000010',
      'FCLTY_NM': 'YES24 중고서점 기흥점',
      'LCLAS_NM': '서점',
      'MLSFC_NM': '중고서점',
      'ZIP_NO': '17087',
      'FCLTY_ROAD_NM_ADDR': '경기 용인시 기흥구 신고매로 124 롯데프리미엄아울렛기흥점 2층',
      'FCLTY_LA': '37.225365',
      'FCLTY_LO': '127.1208999',
      'WORKDAY_OPN_BSNS_TIME': '0.458333333333333',
      'WORKDAY_CLOS_TIME': '0.875',
      'SAT_OPN_BSNS_TIME': '0.458333333333333',
      'SAT_CLOS_TIME': '0.875',
      'SUN_OPN_BSNS_TIME': '0.458333333333333',
      'SUN_CLOS_TIME': '0.875',
      'RSTDE_OPN_BSNS_TIME': None,
      'RSTDE_CLOS_TIME': None,
      'RSTDE_GUID_CN': '명절당일휴무',
      'TEL_NO': '1566-4295',
      'OPTN_DC': '중고서점',
      'ADIT_DC': '헌책방 : 중고서점, 리뷰여부 : 있음'}]},
   'numOfRows': '10',
   'pageNo': '1',
   'totalCount': '432'}}}

In [322]:
data['response']['body']['items']['item']

[{'ESNTL_ID': 'KCUBSPO20N000000001',
  'FCLTY_NM': '123기획',
  'LCLAS_NM': '서점',
  'MLSFC_NM': '중고서점',
  'ZIP_NO': '14289',
  'FCLTY_ROAD_NM_ADDR': '경기도 광명시 광오로24번길 6 (광명동, 금반석시티빌11차)',
  'FCLTY_LA': '37.47609',
  'FCLTY_LO': '126.8499984',
  'WORKDAY_OPN_BSNS_TIME': None,
  'WORKDAY_CLOS_TIME': None,
  'SAT_OPN_BSNS_TIME': None,
  'SAT_CLOS_TIME': None,
  'SUN_OPN_BSNS_TIME': None,
  'SUN_CLOS_TIME': None,
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': None,
  'TEL_NO': '010-5258-9610',
  'OPTN_DC': '중고서점',
  'ADIT_DC': '헌책방 : 중고서점, 리뷰여부 : 있음'},
 {'ESNTL_ID': 'KCUBSPO20N000000002',
  'FCLTY_NM': '123기획',
  'LCLAS_NM': '서점',
  'MLSFC_NM': None,
  'ZIP_NO': '5502',
  'FCLTY_ROAD_NM_ADDR': '서울특별시 송파구 올림픽로 135 (잠실동, 리센츠)',
  'FCLTY_LA': '37.515474',
  'FCLTY_LO': '127.0854698',
  'WORKDAY_OPN_BSNS_TIME': None,
  'WORKDAY_CLOS_TIME': None,
  'SAT_OPN_BSNS_TIME': None,
  'SAT_CLOS_TIME': None,
  'SUN_OPN_BSNS_TIME': None,
  'SUN_CLOS_TIME': None,
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': None,
  'TEL_NO': '02-856-5376',
  'OPTN_DC': None,
  'ADIT_DC': '리뷰여부 : 있음'},
 {'ESNTL_ID': 'KCUBSPO20N000000003',
  'FCLTY_NM': '3355서점',
  'LCLAS_NM': '서점',
  'MLSFC_NM': None,
  'ZIP_NO': '4563',
  'FCLTY_ROAD_NM_ADDR': '서울특별시 중구 장충단로13길 20 (을지로6가)',
  'FCLTY_LA': '37.5687359',
  'FCLTY_LO': '127.0076671',
  'WORKDAY_OPN_BSNS_TIME': '0.4375',
  'WORKDAY_CLOS_TIME': '0.791666666666667',
  'SAT_OPN_BSNS_TIME': '0.4375',
  'SAT_CLOS_TIME': '0.791666666666667',
  'SUN_OPN_BSNS_TIME': '0.4375',
  'SUN_CLOS_TIME': '0.791666666666667',
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': None,
  'TEL_NO': '02-2271-0300',
  'OPTN_DC': None,
  'ADIT_DC': '리뷰여부 : 있음'},
 {'ESNTL_ID': 'KCUBSPO20N000000004',
  'FCLTY_NM': 'Bllessu Books',
  'LCLAS_NM': '서점',
  'MLSFC_NM': '중고서점',
  'ZIP_NO': '3766',
  'FCLTY_ROAD_NM_ADDR': '서울특별시 서대문구 이화여대5길 26 1층',
  'FCLTY_LA': '37.5584044',
  'FCLTY_LO': '126.9442671',
  'WORKDAY_OPN_BSNS_TIME': '0.479166666666667',
  'WORKDAY_CLOS_TIME': '0.875',
  'SAT_OPN_BSNS_TIME': None,
  'SAT_CLOS_TIME': None,
  'SUN_OPN_BSNS_TIME': None,
  'SUN_CLOS_TIME': None,
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': '주말,공휴일휴무',
  'TEL_NO': '010-2258-8541',
  'OPTN_DC': '중고서점',
  'ADIT_DC': '헌책방 : 중고서점, 리뷰여부 : 있음'},
 {'ESNTL_ID': 'KCUBSPO20N000000005',
  'FCLTY_NM': 'Gk서적',
  'LCLAS_NM': '서점',
  'MLSFC_NM': None,
  'ZIP_NO': '7988',
  'FCLTY_ROAD_NM_ADDR': '서울특별시 양천구 목동동로 339 (목동, 목동트윈빌)',
  'FCLTY_LA': '37.5443479',
  'FCLTY_LO': '126.8654939',
  'WORKDAY_OPN_BSNS_TIME': None,
  'WORKDAY_CLOS_TIME': None,
  'SAT_OPN_BSNS_TIME': None,
  'SAT_CLOS_TIME': None,
  'SUN_OPN_BSNS_TIME': None,
  'SUN_CLOS_TIME': None,
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': None,
  'TEL_NO': '02-2645-8277',
  'OPTN_DC': None,
  'ADIT_DC': '리뷰여부 : 있음'},
 {'ESNTL_ID': 'KCUBSPO20N000000006',
  'FCLTY_NM': 'ok헌옷',
  'LCLAS_NM': '서점',
  'MLSFC_NM': '중고물품점',
  'ZIP_NO': '3307',
  'FCLTY_ROAD_NM_ADDR': '서울특별시 은평구 북한산로 281 (진관동)',
  'FCLTY_LA': '37.6568192',
  'FCLTY_LO': '126.9414634',
  'WORKDAY_OPN_BSNS_TIME': '0.375',
  'WORKDAY_CLOS_TIME': '0.291666666666667',
  'SAT_OPN_BSNS_TIME': '0.375',
  'SAT_CLOS_TIME': '0.291666666666667',
  'SUN_OPN_BSNS_TIME': '0.375',
  'SUN_CLOS_TIME': '0.291666666666667',
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': None,
  'TEL_NO': '010-9232-7589',
  'OPTN_DC': '중고물품점',
  'ADIT_DC': '헌책방 : 중고서점,'},
 {'ESNTL_ID': 'KCUBSPO20N000000007',
  'FCLTY_NM': 'YES24 중고서점 강남점',
  'LCLAS_NM': '서점',
  'MLSFC_NM': '중고서점',
  'ZIP_NO': '6129',
  'FCLTY_ROAD_NM_ADDR': '서울특별시 강남구 강남대로 422 씨티빌딩 지하1층',
  'FCLTY_LA': '37.5003931',
  'FCLTY_LO': '127.0269841',
  'WORKDAY_OPN_BSNS_TIME': '0.416666666666667',
  'WORKDAY_CLOS_TIME': '0.916666666666667',
  'SAT_OPN_BSNS_TIME': '0.416666666666667',
  'SAT_CLOS_TIME': '0.916666666666667',
  'SUN_OPN_BSNS_TIME': '0.416666666666667',
  'SUN_CLOS_TIME': '0.916666666666667',
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': '명절당일휴무',
  'TEL_NO': '1566-4295',
  'OPTN_DC': '중고서점',
  'ADIT_DC': '헌책방 : 중고서점, 리뷰여부 : 있음'},
 {'ESNTL_ID': 'KCUBSPO20N000000008',
  'FCLTY_NM': 'YES24 중고서점 강서NC점',
  'LCLAS_NM': '서점',
  'MLSFC_NM': '중고서점',
  'ZIP_NO': '7584',
  'FCLTY_ROAD_NM_ADDR': '서울특별시 강서구 강서로56길 17 NC백화점 강서점 8,9층',
  'FCLTY_LA': '37.5599334',
  'FCLTY_LO': '126.8404989',
  'WORKDAY_OPN_BSNS_TIME': '0.4375',
  'WORKDAY_CLOS_TIME': '0.875',
  'SAT_OPN_BSNS_TIME': '0.4375',
  'SAT_CLOS_TIME': '0.916666666666667',
  'SUN_OPN_BSNS_TIME': '0.4375',
  'SUN_CLOS_TIME': '0.916666666666667',
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': None,
  'TEL_NO': '1566-4295',
  'OPTN_DC': '중고서점',
  'ADIT_DC': '주차 : 가능, 화장실 남녀구분 : 구분, 헌책방 : 중고서점, 리뷰여부 : 있음'},
 {'ESNTL_ID': 'KCUBSPO20N000000009',
  'FCLTY_NM': 'YES24 중고서점 목동점',
  'LCLAS_NM': '서점',
  'MLSFC_NM': '중고서점',
  'ZIP_NO': '8000',
  'FCLTY_ROAD_NM_ADDR': '서울특별시 양천구 오목로 325 지하1층',
  'FCLTY_LA': '37.5251077',
  'FCLTY_LO': '126.8736273',
  'WORKDAY_OPN_BSNS_TIME': '0.395833333333333',
  'WORKDAY_CLOS_TIME': '0.916666666666667',
  'SAT_OPN_BSNS_TIME': '0.395833333333333',
  'SAT_CLOS_TIME': '0.916666666666667',
  'SUN_OPN_BSNS_TIME': '0.395833333333333',
  'SUN_CLOS_TIME': '0.916666666666667',
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': '명절당일휴무',
  'TEL_NO': '1566-4295',
  'OPTN_DC': '중고서점',
  'ADIT_DC': '주차 : 가능, 화장실 남녀구분 : 구분, 헌책방 : 중고서점, 리뷰여부 : 있음'},
 {'ESNTL_ID': 'KCUBSPO20N000000010',
  'FCLTY_NM': 'YES24 중고서점 기흥점',
  'LCLAS_NM': '서점',
  'MLSFC_NM': '중고서점',
  'ZIP_NO': '17087',
  'FCLTY_ROAD_NM_ADDR': '경기 용인시 기흥구 신고매로 124 롯데프리미엄아울렛기흥점 2층',
  'FCLTY_LA': '37.225365',
  'FCLTY_LO': '127.1208999',
  'WORKDAY_OPN_BSNS_TIME': '0.458333333333333',
  'WORKDAY_CLOS_TIME': '0.875',
  'SAT_OPN_BSNS_TIME': '0.458333333333333',
  'SAT_CLOS_TIME': '0.875',
  'SUN_OPN_BSNS_TIME': '0.458333333333333',
  'SUN_CLOS_TIME': '0.875',
  'RSTDE_OPN_BSNS_TIME': None,
  'RSTDE_CLOS_TIME': None,
  'RSTDE_GUID_CN': '명절당일휴무',
  'TEL_NO': '1566-4295',
  'OPTN_DC': '중고서점',
  'ADIT_DC': '헌책방 : 중고서점, 리뷰여부 : 있음'}]

In [323]:
df_2 = pd.DataFrame(data['response']['body']['items']['item'])
df_2

,ESNTL_ID,FCLTY_NM,LCLAS_NM,MLSFC_NM,ZIP_NO,FCLTY_ROAD_NM_ADDR,FCLTY_LA,FCLTY_LO,WORKDAY_OPN_BSNS_TIME,WORKDAY_CLOS_TIME,SAT_OPN_BSNS_TIME,SAT_CLOS_TIME,SUN_OPN_BSNS_TIME,SUN_CLOS_TIME,RSTDE_OPN_BSNS_TIME,RSTDE_CLOS_TIME,RSTDE_GUID_CN,TEL_NO,OPTN_DC,ADIT_DC
0,KCUBSPO20N000000001,123기획,서점,중고서점,14289,"경기도 광명시 광오로24번길 6 (광명동, 금반석시티빌11차)",37.47609,126.8499984,None,None,None,None,None,None,None,None,None,010-5258-9610,중고서점,"헌책방 : 중고서점, 리뷰여부 : 있음"
1,KCUBSPO20N000000002,123기획,서점,None,5502,"서울특별시 송파구 올림픽로 135 (잠실동, 리센츠)",37.515474,127.0854698,None,None,None,None,None,None,None,None,None,02-856-5376,None,리뷰여부 : 있음
2,KCUBSPO20N000000003,3355서점,서점,None,4563,서울특별시 중구 장충단로13길 20 (을지로6가),37.5687359,127.0076671,0.4375,0.791666666666667,0.4375,0.791666666666667,0.4375,0.791666666666667,None,None,None,02-2271-0300,None,리뷰여부 : 있음
3,KCUBSPO20N000000004,Bllessu Books,서점,중고서점,3766,서울특별시 서대문구 이화여대5길 26 1층,37.5584044,126.9442671,0.479166666666667,0.875,None,None,None,None,None,None,"주말,공휴일휴무",010-2258-8541,중고서점,"헌책방 : 중고서점, 리뷰여부 : 있음"
4,KCUBSPO20N000000005,Gk서적,서점,None,7988,"서울특별시 양천구 목동동로 339 (목동, 목동트윈빌)",37.5443479,126.8654939,None,None,None,None,None,None,None,None,None,02-2645-8277,None,리뷰여부 : 있음
5,KCUBSPO20N000000006,ok헌옷,서점,중고물품점,3307,서울특별시 은평구 북한산로 281 (진관동),37.6568192,126.9414634,0.375,0.291666666666667,0.375,0.291666666666667,0.375,0.291666666666667,None,None,None,010-9232-7589,중고물품점,"헌책방 : 중고서점,"
6,KCUBSPO20N000000007,YES24 중고서점 강남점,서점,중고서점,6129,서울특별시 강남구 강남대로 422 씨티빌딩 지하1층,37.5003931,127.0269841,0.416666666666667,0.916666666666667,0.416666666666667,0.916666666666667,0.416666666666667,0.916666666666667,None,None,명절당일휴무,1566-4295,중고서점,"헌책방 : 중고서점, 리뷰여부 : 있음"
7,KCUBSPO20N000000008,YES24 중고서점 강서NC점,서점,중고서점,7584,"서울특별시 강서구 강서로56길 17 NC백화점 강서점 8,9층",37.5599334,126.8404989,0.4375,0.875,0.4375,0.916666666666667,0.4375,0.916666666666667,None,None,None,1566-4295,중고서점,"주차 : 가능, 화장실 남녀구분 : 구분, 헌책방 : 중고서점, 리뷰여부 : 있음"
8,KCUBSPO20N000000009,YES24 중고서점 목동점,서점,중고서점,8000,서울특별시 양천구 오목로 325 지하1층,37.5251077,126.8736273,0.395833333333333,0.916666666666667,0.395833333333333,0.916666666666667,0.395833333333333,0.916666666666667,None,None,명절당일휴무,1566-4295,중고서점,"주차 : 가능, 화장실 남녀구분 : 구분, 헌책방 : 중고서점, 리뷰여부 : 있음"
9,KCUBSPO20N000000010,YES24 중고서점 기흥점,서점,중고서점,17087,경기 용인시 기흥구 신고매로 124 롯데프리미엄아울렛기흥점 2층,37.225365,127.1208999,0.458333333333333,0.875,0.458333333333333,0.875,0.458333333333333,0.875,None,None,명절당일휴무,1566-4295,중고서점,"헌책방 : 중고서점, 리뷰여부 : 있음"