# define(함수)

In [112]:
def print_ten(some_str):
    """print(hello)를 n번 출력합니다."""
    for i in range(10):
        print(some_str)

In [113]:
print_ten("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [103]:
print(print_ten.__doc__)

print(hello)를 n번 출력합니다.

In [110]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

## 함수의 정의 - 인자(parameter)

-- 인자의 종류 --  
1.위치-키워드 : 위치로 혹은 키워드로 전달될 수 있는 인자, 매개변수의 기본 형태  
2.위치 전용 : /문자를 기준으로 좌측에 위치한 인자  
3.키워드 전용 : * 문자를 기준으로 우측에 위치한 인자  
4.가변 위치 : 위치 매개변수 외에 추가적인 위치 매개변수를 개수에 상관없이 받을 수 있음, 변수명 앞에 *를 붙여 표기  
5.가변 키워드 : 키워드 매개변수 외에 추가적인 키워드 매개변수를 개수에 상관없이 받을 수 있음, 변수명 앞에 ** 를 붙여 표기

In [114]:
def greeting(name,age):
    print(f"{name} 씨 안녕하세요. 약 {age *365.25}일 되었습니다.")

In [115]:
#위치 인수만으로 호출 (순서가 중요!)
greeting("파이썬",32)

파이썬 씨 안녕하세요. 약 11688.0일 되었습니다.

In [118]:
#키워드 인수만으로 호출
greeting(name="파이썬",age=32)

파이썬 씨 안녕하세요. 약 11688.0일 되었습니다.

In [116]:
#위치 인수와 키워드 인수로 호출, 위치 인수가 키워드 인수보다 먼저! 위치해야 함
greeting("파이썬", age=32)

파이썬 씨 안녕하세요. 약 11688.0일 되었습니다.

In [117]:
#키워드 인수만으로 호출시 순서는 상관X
greeting(age=32, name="파이썬")

파이썬 씨 안녕하세요. 약 11688.0일 되었습니다.

In [119]:
#default파라미터는 non-default파라미터 뒤에 와야함
def greeting(name="default",age):
    print(f"{name} 씨 안녕하세요. 약 {age *365.25}일 되었습니다.")

SyntaxError: non-default argument follows default argument (3265332727.py, line 1)

In [121]:
def greeting(age,name="default"):
    print(f"{name} 씨 안녕하세요. 약 {age *365.25}일 되었습니다.")

In [124]:
#default값이 있는 경우 생략가능
def greeting(name,age=32):
    print(f"{name} 씨 안녕하세요. 약 {age *365.25}일 되었습니다.")
greeting("파이썬")

파이썬 씨 안녕하세요. 약 11688.0일 되었습니다.

In [126]:
#2.위치 전용 인자 ==> /를 넣어 좌측부분을 위치 전용 인자로 선언
def posonly(posonly, /):
    print(posonly)
posonly("값만 입력해야 합니다")

값만 입력해야 합니다

In [127]:
#3.키워드 전용 인자 ==> 키워드 인수로 전달하면 오류 발생
posonly(posonly = "키워드 인수로 전달하면 오류 발생!")

TypeError: posonly() got some positional-only arguments passed as keyword arguments: 'posonly'

In [128]:
def keyonly(*, keyonly):
    print(keyonly)
keyonly(keyonly="키워드로만 입력해야 합니다.")

키워드로만 입력해야 합니다.

In [129]:
#4.가변-위치 인자(명시된 인자 외에 추가적으로 위치 인수를 개수에 상관없이 유연하게 전달 받을 수 있음)
def var_positional(*args):
    print(type(args))#가변인수를 튜플로 packing한 뒤 전달
    return sum([_ for _ in args])
print(var_positional(1,2,3,4,5))

<class 'tuple'>
15

In [132]:
#5.가변 키워드 인자 ==> 명시된 인자 외에 추가적으로 키워드 인수를 개수에 상관없이 유연하게 전달 받을 수 있음
def var_keyword(**kargs):
    print(type(kargs))
    return kargs
print(var_keyword(key="value", key2="value2"))

<class 'dict'>
{'key': 'value', 'key2': 'value2'}

In [145]:
def plus_ten(n):
    result = n+10
    return result
plus_ten(70)

80

In [160]:
def to_celsius(fahrenheit):
    C = (fahrenheit-32)*5/9
    return C
print(to_celsius(70))

21.11111111111111

In [225]:
def odd_even(number):
    "number가 짝수면 \"짝수\", 홀수면 \"홀수\" 반환"
    if type(number) is not int or number ==0:
        return
    else:
        return "짝수" * (number % 2 ==0) or "홀수"
    #짝수 일 때 number %2 ==0 이 True가 돼서 1로 입력됨 ==>"짝수" 반환
    #홀수 일 때 False 되어서 뒤에 "홀수"반환

In [226]:
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

### 문자열 입력해서 자연수로 변환 가능 여부 판별  
* .isdigit() ==>단일 글자가 '숫자' 모양으로 생겼으면 무조건 True를 반환하는 함수  
* .isdecimal() ==> 주어진 문자열이 int형으로 변환이 가능한지 알아내는 함수  
* .isnumeric() ==>숫자값 표현에 해당하는 문자열까지 인정한다. 제곱근 및 분수, 거듭제곱 특수문자도 isnumeric() 함수는 True를 반환

In [239]:
def check_leap_year(n):
    if n % 4 != 0 or (n %100 == 0 and n % 400 != 0):
        return "평년"
    else:
        return "윤년"
print("반환 값: \""+check_leap_year(2004)+"\"")
print("반환 값: \""+check_leap_year(2000)+"\"")
print("반환 값: \""+check_leap_year(1900)+"\"")

반환 값: "윤년"
반환 값: "윤년"
반환 값: "평년"

In [243]:
def days(month):
    if month == 2:
        return 28
    elif month in [4,6,9,11]:
        return 30
    else:
        return 31
print("반환 값:",days(11))
print("반환 값:",days(2))
print("반환 값:",days(1))

반환 값: 30
반환 값: 28
반환 값: 31

In [251]:
def days(year,month):
    if month in [4,6,9,11]:
        return 30
    elif month in [1,3,5,7,8,10,12]:
        return 31
    else:
        if year % 4 != 0 or (year %100 == 0 and year % 400 != 0):#평년일떼
            return 28
        else:
            return 29
print("반환 값:",days(1900,11))
print("반환 값:",days(2004,10))
print("반환 값:",days(1900,2))
print("반환 값:",days(2000,2))

반환 값: 30
반환 값: 31
반환 값: 28
반환 값: 29

### 조건표현식(conditional Expression), inline if else

True일때 값 if 조건식 else False일때 값

In [2]:
score = 70
'A' if 90<score<=100 else 'B' if 80<score else 'C'

'C'

### 람다(lambda) feat. map()  
표현 : map(lambda parameter1,parameter2, ...:expression, iterable1,iterable2,...))

In [8]:
a = list(range(1,6))
b = list(range(1,10,2))
print(list(map(lambda x,y: x+y, a,b)))

[2, 5, 8, 11, 14]

### 람다(lambda) feat. filter()  
표현 : filter(lambda parameter1,parameter2, ...:expression, iterable1,iterable2,...))

In [3]:
a = [3,2,8,22,10,7,0,11,9,9]
list(filter(lambda x: x% 3 == 0 and 0< x< 10,a))

[3, 9, 9]

In [20]:
#클래스 속성 만들기
class Person:
    def __init__(self):
        self.hello = "안녕하세요"
    def greeting(self):
        print(self.hello)     
        
james = Person()
james.greeting()

안녕하세요

In [22]:
class Student:
    #생성자(__init__): 객체가 최초 생성될 때
    #단 한번 실행되는 매서드
    def __init__(self):
        #self라는 것은 내 자신의 인스턴스
        self.name='홍길동'

In [23]:
#student 클래스로부터 객체를 하나 생성
s1 = Student()
s2 = Student()

In [24]:
type(s1)

__main__.Student

In [25]:
s1.name = '홍길동'

In [26]:
print(s1.name)

홍길동

In [36]:
#클래스 속성 만들기
class Person:
    def __init__(self):
        self.hello = "안녕하세요"
    def greeting(self):
        print(self.hello)     
        
james = Person()
james.greeting()

안녕하세요

In [37]:
james.hello

'안녕하세요'

In [44]:
Person().hello

'안녕하세요'

In [46]:
class PersonEx:
    def __init__(self,name,age,address):
        self.hello = "안녕하세요"
        self.name = name
        self.age = age
        self.address = address
    def greeting(self):
        print(f"{self.hello} 제 이름은 {self.name}입니다.")
maria = PersonEx("마리아",20,"서울시 서초구 반포동")
maria.greeting()
print("이름:",maria.name)
print("이름:",maria.age)
print("이름:",maria.address)

안녕하세요 제 이름은 마리아입니다.
이름: 마리아
이름: 20
이름: 서울시 서초구 반포동

In [1]:
class Person:
    def __init__(self):
        global name
        name = input("이름은 무엇인가요?:")
        global age
        age= int(input("나이는 무엇인가요?:"))
        global add 
        add = input("주소는 무엇인가요?:")
    def printing(self,name,age,add,i):
        if i ==0:
            print("첫번째 이름:",name)
            print("첫번째 나이:",age)
            print("첫번째 주소:",add)
        else:
            print("두번째 이름:",name)
            print("두번째 나이:",age)
            print("두번째 주소:",add)

In [3]:
for i in range(2):
    name_ = Person()
    name_.printing(name,age,add,i)

이름은 무엇인가요?: ㅁ
나이는 무엇인가요?: 20
주소는 무엇인가요?: 강남

첫번째 이름: ㅁ
첫번째 나이: 20
첫번째 주소: 강남

이름은 무엇인가요?: a
나이는 무엇인가요?: 21
주소는 무엇인가요?: 구로

두번째 이름: a
두번째 나이: 21
두번째 주소: 구로

In [5]:
#비공개 속성 ==> __를 붙여서 사용 ex)__wallet
#밖에서 호출시 에러발생
class Person:
    def __init__(self,name,age,address):
        self.hello = "안녕하세요"
        self.name = name
        self.age = age
        self.address = address
        self.__wallet = wallet
maria = PersonEx("마리아",20,"서울시 서초구 반포동",10000)
maria.__wallet -= 10000

TypeError: __init__() takes 4 positional arguments but 5 were given

In [10]:
class Person:
    def __init__(self,name,age,address,wallet):
        self.name = name
        self.age = age
        self.address = address
        self.__wallet = wallet#변수 앞에 __를 붙여서 비공개 속성으로 만듦
    def pay(self, amount):
        if self.__wallet < amount:
            print("돈이 모자랍니다.")
            return
        self.__wallet -= amount #비공개 속성은 클래스 안의 매서드에서만 접근할 수 있음
        print("이제 {0}원이 남았네요.".format(self.__wallet))
maria = Person("마리아",20,"서울시 서초구 반포동",10000)
maria.pay(3000)

이제 7000원이 남았네요.

In [9]:
class Annie:
    def __init__(self,hp=0,mp=0,ap=0):
        self.hp = hp
        self.mp = mp
        self.ap = ap
    def tibbers(self):
        damage = self.ap*0.65 + 400
        return damage
hp,mp,ap = map(float, input("hp,mp,ap를 입력하세요").split())
my_annie = Annie(hp,mp,ap)
print("티버: 피해량",my_annie.tibbers())

hp,mp,ap를 입력하세요 511.68 334.0 298

티버: 피해량 593.7

In [24]:
A,B,C = map(float,input("체력,마나,AP를 입력하세요").split())
a = Annie(A,B,C)
a.tiber(C)

체력,마나,AP를 입력하세요 511.68 334.0 298

티버: 피해량: 593.7